/* Global Body Styling */
body {
  background-color: #F6F3EB;
  margin: 0;
  padding: 0;
  display: flex;          /* Enable flexbox layout */
  flex-direction: column; /* Stack all sections vertically */
  min-height: 100vh;      /* Ensure body takes at least full viewport height */
}
.about{
  margin: 30px;
}
/* Section Styling */
.section {
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s ease;
}

/* Apply the same animation to all sections */
.section.animate {
  opacity: 1;
  transform: translateY(0);
  animation: fadeInUp 1.5s ease-out forwards;
}

/* Keyframe for fade-in-up animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Footer Styling */
#footer {
  margin: 0;          /* Remove bottom margin */
  padding: 2px 0;    /* Optional padding */
  background-color: rgb(204, 112, 46);  /* Example background color */
  color: #fff;        /* Text color */
  text-align: center; /* Center footer text */
}
