/* Navbar Container - Default transparent */
.navbar {
  background-color: transparent;  /* Transparent by default */
  padding: 1rem 0;
  position: fixed;  /* Fixed at the top */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;  /* Aligns logo and nav items */
  align-items: center;
  transition: background-color 0.9s ease-in-out;  /* Smooth transition for background */
}

/* Solid background for navbar when scrolled */
.navbar.scrolled {
  background-color:rgb(204, 112, 46);  /* Red background when scrolled */
}

/* Container to center content */
.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Navbar List */
ul {
  display: flex;
  margin-left: 250px;
  padding: 0;
}

/* Logo */
.logo {
  width: 9em;
  margin-left: 30px;
}

/* Links Container */
.nav-links {
  display: flex;
  align-items: center;
  margin-right: 100px;
}

/* Reset List Styles */
.nav-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Navbar Links */
.nav-links li {
  margin-left: 2rem;
  font-size: 20px;
}

.nav-links a {
  color: #f5f1f1;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  color: white;
  background-color: #AB5F1A;
  opacity: 0.5;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

/* Hamburger Menu Button */
.hamburger {
  display: none;
  cursor: pointer;
  margin-right: 0;
  background: none;
  border: none;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #f3eeee;
  margin: 5px 0;
  transition: all 0.3s ease;
}

/* Hamburger Menu Styles for Mobile */
@media (max-width: 768px) {
  /* Initially hide the nav-links on mobile */
  .nav-links {
    display: none;
    position: absolute;
    top: 60px; 
    right: 0;   
    width: 50%; 
    background-color: rgba(231, 147, 87, 0.6);
    padding: 20px;
    flex-direction: column;
    text-align: right; 
    box-sizing: border-box; 
  }
  
  /* Show nav-links when hamburger menu is open */
  .nav-links.open {
    display: flex;
    flex-direction: column;
  }

  .nav-links ul {
    flex-direction: column;
    align-items: right;
  }

  .nav-links li {
    margin: 1rem 0;
  }

  /* Show hamburger menu button on mobile */
  .hamburger {
    display: block;
    margin-right: 10px;
  }

  /* Hamburger bar styles when open */

}
